<div id="main-nav">
	<ul>
		<li ><%= link_to "Inicio", root_path%></a></li>
		<li><%= link_to "Resultados", home_results_path%></li>
		<li class="active"><%= link_to "Nosotros", home_about_us_path%></li>	
	</ul>
</div>


<section>
		<div style="height:360px; width: 334px;float:left;">
			<img src="/assets/alan1.jpg" height="260" >	
			<p class="bio">"Alan, estudiante de Telecom, el hombre tranquilo del equipo, sus aficiones son el futbol y los tequilas"</p>	
		
		</div>
		<div style="height:360px; width: 334px;float:left;">
			<img src="/assets/edwin1.jpg" height="260">	
			<p class="bio">"Edwin, estudiante de ingenieria de sistemas, cuando no esta estudiando esta cortejando, es un casanova"</p>	
		
		</div>
		<div style="height:360px; width: 334px;float:left;">
			<img src="/assets/rudy1.jpg" height="260">	
			<p class="bio">"Rudy, estudiante de ingenieria de sistemas, sus pasatiempos incluyen bailar Diablada y jugar PS4"</p>
		
		</div>
		<div style="height:360px; width: 334px;float:left;">
			<img src="/assets/franz1.jpg" height="260">	
			<p class="bio">"Franz, estudiante de ingenieria de sistemas, le gusta la cocina el campo y sobre todo el vino... mucho vino"</p>	
		</div>
		
		
		
		
		
</section>
<footer id="pie">
	<span>Universidad Catolica Boliviana</span>
</footer>
	