<div id="main-nav">
	<ul>
		<li class="active"><%= link_to "Inicio", root_path%></a></li>
		<li><%= link_to "Resultados", home_results_path%></li>
		<li><%= link_to "Nosotros", home_about_us_path%></li>	
	</ul>
</div>

<section>
	<img src="/assets/doctor2.png">		
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit ex erat, a efficitur quam blandit id. Vivamus maximus augue vitae auctor rutrum.</p>	
</section>
<footer id="pie">
	<span>Universidad Catolica Boliviana</span>
</footer>
	